# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset folder
data/

# Log files
*.log

# Environment / secrets
.env

# VS Code settings
.vscode/
